{% extends "base.html" %}
{% block title %}Factor Management{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/css/factor_management.css">
<div class="header-row">
    <div class="gwp-header">
        <h1>係數列表</h1>
    </div>
</div>
<div class="button-grid">
    <a href="/test1" class="factor-btn">GWP值</a>
    <a href="/test2" class="factor-btn">公用事業</a>
    <a href="/get_water" class="factor-btn">取得水係數</a>
    <a href="/index" class="factor-btn">返回首頁</a>
</div>
{% endblock %}
